.list-group-flesh{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.list-group-flesh > li{
    border-bottom: none;
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
}
.list-group-flesh > li > a{
    display: block;
    cursor: pointer;
}
.list-group-flesh > li::after{
    content: '';
    width: 1px;
    background: #f4f4f4;
    height: 20px;
    display: block;
    margin-left: 10px;
}
.list-group-flesh > li:last-child::after{
    background: none;
}
.custom-search{
    min-width: 250px;
    height: 50px;
}
.abs-class{
    border-top-right-radius: 4px;
    height: 49px;
    background: rgb(248, 151, 31);
    border-bottom-right-radius: 4px;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
.bg-color{
    background:#E6F5F3 !important;
}
.fixed-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0px 1px 4px  #f0f0f0;
    padding: 10px;
    transition: all 0.2s ease-in;
  }